<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borken Bank - Hilfe</title>
</head>
<body>
    <header>
        <p><img src="https://www.iconsdb.com/icons/download/black/moneybox-128.jpg"</p>
        <p><a href="hilfe.html"><i class="fa-solid fa-phone"></i>Hilfe</a></p>
        <p><a href="postfach.html"><i class="fa-regular fa-envelope"></i>Postfach</a></p>
        <p><a href="profil.html"><i class="fa-regular fa-user"></i>Profil</a></p>
        <p><a href="agb.html"><i class="fa-regular fa-bookmark"></i>AGB</a></p>
       
    </header>
    <main>
        Hier kommt die Hilfe hin
    </main>
    <footer>
        <p><a href="https://www.borken-bank.de"><i class="fa-solid fa-house-user"></i>Zur Homepage</a></p>
        <p><a href="https://www.instagram.com/Borken-Bank"><i class="fa-brands fa-instagram"></i>Folge uns auf Instagram</a></p>
        <div>
          <h3>Gechäftsführer</h3>
          <p>Abby Steeger</p>
        </div>
        <div>
          <h3>Geschäftssitz</h3>
          <p>Musterstraße 123, 46325 Borken</p>
        </div>
        <div>
          <h3>Rechtsform</h3>
          <p>GmbH</p>
        </div>
        <div>
          <h3>Kontakt</h3>
          <p>E-mail: info@borken-bank.de</p>
          <p>Telefon: +49 123 456789</p>
        </div>
      </footer>
    
</body>
</html>