h1{
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: 500;   
    color:#e41e1e79;
    text-decoration:underline;
}

h2{
    font-family:'Times New Roman', Times, serif;
    color: #e41e1e79;
    font-style: italic;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

footer{
    background-color: #e41e1e79;;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

header{
    background-color:  #e41e1e79;;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: xx-large;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

/* Der folgende Style wirkt auf eine class namens flex-container 
eine Class wird in der styles.css immer mit einem führenden Punkt dargestellt.*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(241, 229, 201, 0.582);    
  }
  /* Der folgende Style wirkt auf ale DIVs innerhalb eines flex-containers*/
  .flex-container > div {
    background-color: #e41e1e79;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  button {
    background-color:  rgba(241, 229, 201, 0.582);
    font-style: italic;
    
  }
